In [2]:
from pyspark.sql import SparkSession

# 1. Data Preprocessing

In [3]:
spark = SparkSession \
        .builder \
        .appName('FraudDet') \
        .getOrCreate()

In [4]:
spark

In [5]:
file_path = 'fraud_detection.csv'
df_fraud_det = spark.read.csv(file_path, header=True)

In [6]:
df_fraud_det.printSchema()

root
 |-- step: string (nullable = true)
 |-- type: string (nullable = true)
 |-- amount: string (nullable = true)
 |-- nameOrig: string (nullable = true)
 |-- oldbalanceOrg: string (nullable = true)
 |-- newbalanceOrig: string (nullable = true)
 |-- nameDest: string (nullable = true)
 |-- oldbalanceDest: string (nullable = true)
 |-- newbalanceDest: string (nullable = true)
 |-- isFraud: string (nullable = true)
 |-- isFlaggedFraud: string (nullable = true)

In [7]:
num_rows = df_fraud_det.count()
num_cols = len(df_fraud_det.columns)

print(num_rows, num_cols)

6362620 11

In [8]:
df_fraud_det.na.drop().show()

+----+--------+---------+-----------+-------------+--------------+-----------+--------------+--------------+-------+--------------+
|step|    type|   amount|   nameOrig|oldbalanceOrg|newbalanceOrig|   nameDest|oldbalanceDest|newbalanceDest|isFraud|isFlaggedFraud|
+----+--------+---------+-----------+-------------+--------------+-----------+--------------+--------------+-------+--------------+
|   1| PAYMENT|  9839.64|C1231006815|     170136.0|     160296.36|M1979787155|           0.0|           0.0|      0|             0|
|   1| PAYMENT|  1864.28|C1666544295|      21249.0|      19384.72|M2044282225|           0.0|           0.0|      0|             0|
|   1|TRANSFER|    181.0|C1305486145|        181.0|           0.0| C553264065|           0.0|           0.0|      1|             0|
|   1|CASH_OUT|    181.0| C840083671|        181.0|           0.0|  C38997010|       21182.0|           0.0|      1|             0|
|   1| PAYMENT| 11668.14|C2048537720|      41554.0|      29885.86|M1230701703|           0.0|           0.0|      0|             0|
|   1| PAYMENT|  7817.71|  C90045638|      53860.0|      46042.29| M573487274|           0.0|           0.0|      0|             0|
|   1| PAYMENT|  7107.77| C154988899|     183195.0|     176087.23| M408069119|           0.0|           0.0|      0|             0|
|   1| PAYMENT|  7861.64|C1912850431|    176087.23|     168225.59| M633326333|           0.0|           0.0|      0|             0|
|   1| PAYMENT|  4024.36|C1265012928|       2671.0|           0.0|M1176932104|           0.0|           0.0|      0|             0|
|   1|   DEBIT|  5337.77| C712410124|      41720.0|      36382.23| C195600860|       41898.0|      40348.79|      0|             0|
|   1|   DEBIT|  9644.94|C1900366749|       4465.0|           0.0| C997608398|       10845.0|     157982.12|      0|             0|
|   1| PAYMENT|  3099.97| C249177573|      20771.0|      17671.03|M2096539129|           0.0|           0.0|      0|             0|
|   1| PAYMENT|  2560.74|C1648232591|       5070.0|       2509.26| M972865270|           0.0|           0.0|      0|             0|
|   1| PAYMENT| 11633.76|C1716932897|      10127.0|           0.0| M801569151|           0.0|           0.0|      0|             0|
|   1| PAYMENT|  4098.78|C1026483832|     503264.0|     499165.22|M1635378213|           0.0|           0.0|      0|             0|
|   1|CASH_OUT|229133.94| C905080434|      15325.0|           0.0| C476402209|        5083.0|      51513.44|      0|             0|
|   1| PAYMENT|  1563.82| C761750706|        450.0|           0.0|M1731217984|           0.0|           0.0|      0|             0|
|   1| PAYMENT|  1157.86|C1237762639|      21156.0|      19998.14|M1877062907|           0.0|           0.0|      0|             0|
|   1| PAYMENT|   671.64|C2033524545|      15123.0|      14451.36| M473053293|           0.0|           0.0|      0|             0|
|   1|TRANSFER| 215310.3|C1670993182|        705.0|           0.0|C1100439041|       22425.0|           0.0|      0|             0|
+----+--------+---------+-----------+-------------+--------------+-----------+--------------+--------------+-------+--------------+
only showing top 20 rows

In [9]:
df_fraud_det = df_fraud_det.dropDuplicates()

In [11]:
from pyspark.sql.functions import col

old_cols = df_fraud_det.columns
new_cols = [col(col_name).alias(col_name.lower()) for col_name in old_cols]

In [12]:
df_fraud_det = df_fraud_det.select(*new_cols)

In [13]:
df_fraud_det.columns

['step',
 'type',
 'amount',
 'nameorig',
 'oldbalanceorg',
 'newbalanceorig',
 'namedest',
 'oldbalancedest',
 'newbalancedest',
 'isfraud',
 'isflaggedfraud']

In [14]:
df_fraud_det.show()

+----+--------+---------+-----------+-------------+--------------+-----------+--------------+--------------+-------+--------------+
|step|    type|   amount|   nameorig|oldbalanceorg|newbalanceorig|   namedest|oldbalancedest|newbalancedest|isfraud|isflaggedfraud|
+----+--------+---------+-----------+-------------+--------------+-----------+--------------+--------------+-------+--------------+
|   1| PAYMENT|  9753.55|C1048712791|      60829.0|      51075.45| M487792155|           0.0|           0.0|      0|             0|
|   1|CASH_OUT| 338767.1| C691691381|          0.0|           0.0| C453211571|     544481.28|    3461666.05|      0|             0|
|   1|TRANSFER|276460.62|C1871680329|        595.0|           0.0|C1360767589|    1105242.28|    2107965.39|      0|             0|
|   1| PAYMENT|  7649.41|C1129869771|     44435.75|      36786.34|M1620459733|           0.0|           0.0|      0|             0|
|   1| PAYMENT| 14895.51|C1527882132|          0.0|           0.0| M935160003|           0.0|           0.0|      0|             0|
|   1|CASH_OUT|386683.04|C1373577787|          0.0|           0.0|  C33524623|    1352623.44|    1517262.16|      0|             0|
|   1|   DEBIT|  5423.28|C2139168000|      20281.0|      14857.72| C367746789|       11523.0|           0.0|      0|             0|
|   1|CASH_OUT|472385.25|C1193841543|     26210.19|           0.0| C392292416|    1541224.63|    3420103.09|      0|             0|
|   1| CASH_IN| 61505.91|C1790387225|   4910403.44|    4910403.44|  C11003494|    4910403.44| 1.058888527E7|      0|             0|
|   1| PAYMENT|  4297.27| C981159997|       7468.0|       3170.73|  M85121323|           0.0|           0.0|      0|             0|
|   1| PAYMENT|   635.55| C401891515|   1131641.43|    1131005.88|M1688310330|           0.0|           0.0|      0|             0|
|   1|   DEBIT|  6522.37|C2011695710|        842.0|           0.0| C736709391|      40298.34|      46820.71|      0|             0|
|   1|TRANSFER|229316.19|C1745903324|     24338.59|           0.0| C747464370|    1395069.49|    1567434.81|      0|             0|
|   1| PAYMENT|  2673.65| C471004142|      23264.0|      20590.35|M1833335943|           0.0|           0.0|      0|             0|
|   2|CASH_OUT| 69734.12|C1423978346|     26588.18|           0.0|C1100767002|     233370.36|     303104.48|      0|             0|
|   2| PAYMENT|  1266.42|C1667348377|      20897.0|      19630.58| M463313451|           0.0|           0.0|      0|             0|
|   2| PAYMENT|  2980.24|C1559783274|          0.0|           0.0|M1206931021|           0.0|           0.0|      0|             0|
|   3| PAYMENT|  4798.39| C637524006|          0.0|           0.0| M696870185|           0.0|           0.0|      0|             0|
|   3| CASH_IN|204766.89| C217911413|   4550718.07|    4755484.96|C1017997535|     224060.15|      19293.26|      0|             0|
|   3| CASH_IN| 23641.67|C1911008699|   4574085.49|    4597727.16|C1850042097|     308871.37|      285229.7|      0|             0|
+----+--------+---------+-----------+-------------+--------------+-----------+--------------+--------------+-------+--------------+
only showing top 20 rows

In [19]:
cols_to_convert = ["amount","oldbalanceorg","newbalanceorig", "oldbalancedest", "newbalancedest","isfraud", "isflaggedfraud"]

for c in cols_to_convert:
    if(c == "isfraud" or c == "isflaggedfraud"):
        df_fraud_det = df_fraud_det.withColumn(c, col(c).cast("int"))
    else:
        df_fraud_det = df_fraud_det.withColumn(c, col(c).cast("float"))

In [20]:
df_fraud_det.printSchema()

root
 |-- step: string (nullable = true)
 |-- type: string (nullable = true)
 |-- amount: float (nullable = true)
 |-- nameorig: string (nullable = true)
 |-- oldbalanceorg: float (nullable = true)
 |-- newbalanceorig: float (nullable = true)
 |-- namedest: string (nullable = true)
 |-- oldbalancedest: float (nullable = true)
 |-- newbalancedest: float (nullable = true)
 |-- isfraud: integer (nullable = true)
 |-- isflaggedfraud: integer (nullable = true)

# 2. Exploration and Data analysis

In [26]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from pyspark.sql.functions import rand

In [29]:
fraction = 0.01
df_sample = df_fraud_det.sample(withReplacement=False, fraction=fraction, seed=42)

In [25]:
numerical_features = cols_to_convert

df_fraud_det[numerical_features].hist(bins=30, color='skyblue')
plt.tight_layout()
plt.show()

AttributeError: 'DataFrame' object has no attribute 'hist'